<html lang="en" >
<head>
    <title>testing</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.js" integrity="sha512-vHNHepeQWwAggJlhEk932jRS5sNdn/Nn4F+w4TpXW5dA+04qnd3e7YpfXo6auWhFG6z3FVhmScG4ovtF+qYeZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<h1>hello there</h1>
<input type="text" id="autocomplete" placeholder="Select a color..."></input>
<ul id="results"></ul>


<select aria-label="Default select example" id="state" onchange="klm()">
    <option> select the state  </option>
</select>
<select id="city" disabled>
<option> select the state first </option>
</select>
<script>
    const data = ["red", "blue", "green", "yellow", "purple", "orange", "black", "white", "brown"];
    const autocomplete = document.getElementById("autocomplete");
    const resultsHTML = document.getElementById("results");
    autocomplete.oninput = function () {
        let results = [];
        const userInput = this.value;
        resultsHTML.innerHTML = "";
        if (userInput.length > 0) {
            results = getResults(userInput);
            resultsHTML.style.display = "block";
            for (let i = 0; i < results.length; i++) {
                resultsHTML.innerHTML += "<li>" + results[i] + "</li>";
            }
        }
    };
    function getResults(input) {
        var results = [];
        axios.get('/api/autocomplete/getCities?apl='+input).then((res)=>{
            results=res.data;
            console.log(results);
        }).catch((e)=>{
            console.error(e)
        })


        return results;
    }
    resultsHTML.onclick = function (event) {
        autocomplete.value = event.target.innerText;
        this.innerHTML = "";
    };
    function ds(){
        const select= document.getElementById('state');

        axios.get('/api/getStates').then((res)=>{
            let str='';
            console.log(res.data);
            res.data.forEach((item)=>{
                str=str+`<option value="${item.id}" >${item.stateName}</option>`;
            })
            select.innerHTML=str;
        }).catch((e)=>{
          console.error(e);
        })
    }
    function klm(){
        const id=document.getElementById('state').value;
        const city=document.getElementById('city');
        city.removeAttribute('disabled')
        axios.get('/api/getCitiesBystate?stateID='+id).then((res)=>{
            console.log(res.data);
            let str='';
            console.log(res.data);
            res.data.forEach((item)=>{
                str=str+`<option value="${item.id}" >${item.cityName}</option>`;
            })
            city.innerHTML=str;
        }).catch((e)=>{
          console.error("error in fetching the data"+ e);
        })
    }
    document.addEventListener('DOMContentLoaded', function() {

        ds();
        const citySelect = document.getElementById('city');
        citySelect.setAttribute('disabled', 'disabled');
    });

</script>

</body>
</html>